/* 

Ejercicio ompkleto HTML y CSS
1. (HECHO) Cear un documento HTML y vinvularlo con un CSS
2. (HECHO) Crear una estructura HTML que cuente con un CONTENEDOR GENERAL, CABECERA, BARRA LATERAL, SECCION DE CONTENIDO PRINCIOPAL, ELEMENTOS DENTRO DEL CONTENEDOR PRINCIPAL, y FOOTER.
3. (HECHO) Todo el contenfido debe estar dentro frl contenedor general y suiu ancho será de 1200px en la pantalla y estar centrado
4. (HECHO) Header debe ocupar el 100% del ancho y tner un texto grande centrado
5. (HECHO) El menu debe tener los elementos 1 al lado del otro
6. (HECHO) El contenido principal debe tener un ancho del 70%
7. (HECHO) El contenido dentro del contenedor pronicpal debe ser una cuadricula con 4 lineas de 2 cajas
8. (HECHO) La barra lateral debe tener un ancho del 30%
9. El footer debe tener un ancho del 100% y estar abajop del todo
*/ 

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#general{
    width: 1200px;
    margin: 0px auto; /* Pra centrar el div */
    border: 1px solid #ccc;
    margin-top: 20px;
}
#header {
    width: 100%;
    height: 100px;
    background: rgb(54, 54, 126);
    color: white;
    text-align: center;
    line-height: 90px;
}

.clearfix{
    float: none;
    clear: both;
}

#menu{
    background-color: #eee;
}

#menu ul li{
    /* display: inline-block; */
    display: block;
    float: left;
    border-right: 1px solid #ccc; 
}

#menu ul li a{
    display: block;
    padding: 15px;
    color: #444;
}
#menu ul li:hover{
    background-color: rgb(31, 31, 105);
    cursor: pointer;
}
#menu ul li:hover a{
    color: white;
}

#contenido{
    width: 69%;
    margin: 0px auto;
    float: left;
}

#lateral{
    width: 30%;
    border: 1px solid red;
    float: left;
    min-height: 500px;
    max-height: 650px;
    text-align: center;
    /* overflow: visible;
    overflow: hidden;
    overflow: scroll; */
    overflow-y: scroll;
}

#contenido > h1 {
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding: 15px;
    color: #444;
    /* Eje-x eje-y difuminado color-sombra */
    text-shadow: 1px 1px 2px gray;
}

#contenido .caja{
    width: 40%;
    height: 250px;
    background-color: #ccc;
    border: 1px solid gray;
    color: white;
    float: left;
    margin: 20px;
    margin-left: 40px;
    text-align: center;
    line-height: 250px;
    color: #444;
    text-transform: uppercase;
    /* Eje-x eje-y difuminado color-sombra */
    box-shadow: 5px 5px 10px gray;
    /* border-radius: 50px; */
    /* border-radius: 999px; Para hacer un circulo cuando la caja es cuadrada*/
    border-radius: 50px 10px 4px 61px;
}

footer{
    width: 100%;
    height: 55px;
    line-height: 55px;
    background: #eee;
    text-align: center;
    color: #444;
    border-top: 1px solid #ccc;
}

.sombra-interior{
    /* Eje-x eje-y difuminado color-sombra */
    box-shadow: 0px 0px 20px gray inset !important;
}

.libre{
    position: absolute;
    top: 300px;
    /* left: 50%; */
    right: 40%;
    border: 1px solid black;
    background-color: red;
    color: white;
    width: 50px;
    height: 50px;
    font-size: 13px;
}

.libre1 {
    background-color: red;
    z-index: 1;
}

.libre2 {
    background-color: green;
    top: 280px;
    right: 42%;
    z-index: 0;
}

.fija {
    position: fixed;
    top: 50%;
    /* left: 50%; */
    left: 0px;
    border: 1px solid black;
    background-color: blue;
    color: white;
    width: 50px;
    height: 50px;
    font-size: 13px;
}